*, *::before, *::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;;
}
body {
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
  background: #000000 url('images/pattern.png') 0 0 repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  background: rgba(#000000, .3);
  background: -webkit-linear-gradient(top, #000000 0%, transparent 50%, #000000 100%);
  background: linear-gradient(to bottom, #000000 0%, transparent 50%, #000000 100%)
}
.wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
h1 {
  color: #ffffff;
  box-shadow: 0 1px 1px #000000;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 36px;
}
.products {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 1120px;
}
.products__item {
    width: 320px;
    margin: 20px;
  }
.product-wrapper {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
  border-radius: 12px;
  background: #ffffff url('images/cat.png') -25px 205px no-repeat;
  -webkit-clip-path: polygon(45px 0%, 0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0% 45px);
          clip-path: polygon(45px 0%, 0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0% 45px);
}
.products-footer {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}
.products-footer a {
    color: #1698d9;
    text-decoration: none;
    border-bottom: 1px dashed #1698d9;
  }
.products-footer a:hover {
      border-color: transparent;
    }
.product {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  border: solid 4px #1698d9;
  border-radius: 12px;
  cursor: pointer;
}
.product::after {
    position: absolute;
    top: -42px;
    left: -35px;
    width: 70px;
    height: 70px;
    border-right: solid 4px #1698d9;
    content: "";
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
.product__title {
    color: #666666;
    font-size: 16px;
  }
.product__name {
    font-size: 48px;
    font-weight: bold;
  }
.product__taste {
    font-size: 24px;
    font-weight: bold;
  }
.product__description {
    margin-top: 15px;
    color: #666666;
    font-size: 14px;
    line-height: 16px;
  }
.product__description p {
      margin: 0;
    }
.product__weight {
    display: -webkit-box;
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 20px;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #1698d9;
    color: white;
  }
.product__value {
    font-size: 42px;
  }
.product__unit {
    font-size: 21px;
    line-height: 12px;
  }